@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{

    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: #e7e7e7 !important;
}

/*toast*/

:root {
    --dark: #34495e;
    --light: #f4f4f4;
    --success: #0abf30;
    --error: #e24d4c;
    --warning: #e23d4c;
    --info: #3498db;
}

.notification {
    position: fixed;
    top: 1.875em;
    right: 1.25em;
    z-index: 1000;
}
.notification :where(.toasts, .column) {
    display: flex;
    align-items: center;
}
.notification .toasts {
    min-width: 23em;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 0.3125em;
    padding: 1em 1.0625em;
    margin-bottom: 0.625em;
    background: var(--light);
    display: flex;
    justify-content: space-between;
    animation:  show_toasts 0.3s ease forwards;
}
@keyframes show_toasts {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.notification .toasts.hide{
    animation:  hide_toasts 0.3s ease forwards;
}
@keyframes hide_toasts {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(calc(100% + 20px));
    }
}
.notification .toasts::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 3px;
    width: 50%;
    background: red;
    animation:  progress_toasts 4s  ease forwards;
}
@keyframes progress_toasts{
    100%{
        width: 0%;
    }
}
.notification .toasts.success .column i{
    color: var(--success);
}
.notification .toasts.error .column i{
    color: var(--error);
}
.notification .toasts.warning .column i{
    color: var(--warning);
}
.notification .toasts.info .column i{
    color: var(--info);
}
.notification .toasts.success::before , .btn#success{
    background: var(--success);
}
.notification .toasts.error::before , .btn#error{
    background: var(--error);
}
.notification .toasts.warning::before , .btn#warning{
    background: var(--warning);
}
.notification .toasts.info::before , .btn#info{
    background: var(--info);
}
.toasts .column i{
    font-size: 1.45rem;
}
.toasts .column span{
    font-size: 1.07rem;
    margin-left: 17px;
}
.toasts i:last-child{
    color: #aeb0d7;
    font-size: 1rem;
    cursor: pointer;
}
.toasts i:last-child:hover{
    color: var(--dark);
}

.overlay.active {
    position: fixed;
    top: 0;
    left: 250px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 490;
    opacity: 1;
    visibility: visible;
    transition: opacity .2s;
}

/*Header*/


.header-news {
    background-color: #2e2e2e !important;
}

.top-header {
    height: 25px !important;
    max-width:200px !important;

}

.top-header a{
    color: lightgray !important;
    transition: .25s ease-in-out;
}
.top-header a:hover{
    opacity: 0.7;
}

.main-header {
    background-color: #222 !important;

}
.btn-middle-header {
    padding: 6px 15px;
    background: rgba(255,255,255,.2);
    border-radius: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin-right: 16px;
    width: auto;
}
.btn-list-middle-header {
    list-style: none;
}
.btn-middle-header::before {
    content: '#';
    margin-right: 3px;
}
.login-header {
    padding: 7px 18px;
    background-color: rgba(255,255,255,.2);
    border-radius: 6px;
}
.login-header a {
    color: white;
    transition: 0.25s linear;
}
.login-header a:hover {
    opacity: .7;
}
.user-login-dropdown {
    background-color: rgba(255,255,255,.2);
}
.user-login-dropdown a{
    padding: 7px 16px !important;
}
menu-item-dropdown li {
    transition: .25s;
}

menu-item-dropdown li:hover {
    background-color: #e7eaf0;
}
.bar-chat {
    display: none;
}
#icon-search-bar {
    cursor: pointer;
}
#search-text-bar {
    opacity: 0;
    transition: all 0.5s;
    width: 0;
    border-radius: 6px;
    height: 29px;
}
#search-text-bar.active {
    width: 220px !important;
    padding: 6px 16px !important;
    height: 29px;
    opacity: 1;
}

.bottom-header {
    border-top: .5px solid slategrey;
    margin-top: 60px;
}
.list-category-header{
    list-style: none ;
    margin-top: 20px;
}
.list-category-header li a {
    color: white;
    transition: .25s;
}
.list-category-header li a:hover {
    color: red;
}

/*HOME*/

.link-title-content {
    text-decoration: none !important;
}
.image-title {
    object-fit: cover;

}
.title-content {
    margin: 20px 0 !important;
    font-size: 22px !important;
    transition: 0.25s;
    font-weight: 600;
    text-decoration: none !important;
}
.title-content:hover {
    opacity: .75;
}
.title-content-main {
    font-size: 16px !important;
}

.right-title-content {
    font-size: 12px !important;
    transition: 0.25s;
    font-weight: 600;
    text-decoration: none !important;
}
.right-title-content:hover {
    opacity: .75;
}

.text-horizon {
    font-size: 18px !important;
    line-height: 140%;
    text-transform: uppercase;
    color: #111;
    font-family: SFPD-Bold;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #adb2b7;
}
.text-horizon::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 10%;
    height: 2px;
    background: #c90000;
}



/*detail*/
.detail-main-content .detail-content img {
    width: 100% !important;
    object-fit: cover !important;
}
.comment-detail::before {
    content: '';
    background: url(https://static.mediacdn.vn/genk/web_images/bg-split.jpg) top left repeat-x;
    top: -25px;
    left: 0;
    width: 100%;
    height: 10px;
    position: absolute;
}

.comment-title::before {
    width: 5px;
    height: 21px;
    position: absolute;
    top: 2px;
    left: -16px;
    content: '';
    background: #ed2e2e;
}

.create-comment {
    display: none;
}
.create-comment.active {
    display: block;
}
#btn-comment {
    padding: 9px 25px;
    border-radius: 10px;
    transition: 0.25s ease-in-out;
}
#btn-comment:hover {
    transform: translateX(3px);
}

/*footer*/

footer {
    background-color: #222;
    min-height: 200px;
}

.horizon-footer {
    border: 1px solid red;
    width: 100%;

}

.content-left-footer {
    font-size: 13px;
    color: #eeeeee;
}
.content-left-footer p{
    margin-bottom: 0 !important;
}

.content-left-footer p span {
    color: red;
}
.right-content-footer {
    margin-left: 40px !important;
}
.advertise-footer {
    color: white;
    text-transform: uppercase;
    font-weight: 600;

}
.breadcrumb {
    padding: 15px !important;
}
/*Detail*/
main {
    margin-top: -10px;
    margin-bottom: -10px;
}
.detail-main {
    min-height: 200px;
    background-color: white;
    margin-left: 10% !important;
    width: 80% !important;
}
.detail-main-content-title h2 {
    font-weight: 600 !important;
    font-size: 30px !important;
}


/*category*/

.category-page {
    background-color: white !important;
    margin: 70px 0 !important;
    min-height: 300px;
}

.category-children-item a{
    margin-top: 30px;
    text-decoration: none;
    font-size: 19px !important;
    color: #333 !important;
    transition: 0.25s;
    position: relative;
}
.category-children-item a:not(.active)::after{
    content: "";
    display: block;
    width: 0;
    transition: 0.25s ease-in-out ;
}
.category-children-item a.active{
    border-bottom: 4px solid #222;
    transition: .25s ease-in-out;
}
.category-children-item a:hover{
    opacity: .7;
    cursor: pointer;
}
.category-children-item a:not(.active):hover::after {
    content: "";
    border-bottom: 4px solid #222;
    width: 50%;
}


/*navbar*/

.menu-item-hide {
    width: 250px;
    background-color: white;
    z-index: 1;
    opacity: 0;
    margin-left:-250px;
    visibility: hidden;
    transition: .25s ease-in-out;
}

.menu-item-hide.active {
    visibility: visible;
    opacity: 1;
    margin-left: 0px;
}
.sidebar::-webkit-scrollbar {
    width: .25rem;
}

.item-menu-hide {
    margin-top: 40%;
}
.item-menu-hide ul li a {
    color: black !important;
    margin-bottom: 10px !important;
    transition: .25s linear;
}
.item-menu-hide ul li a:hover {
    color: red !important;
}
category-children-item {
    width: 125px;
}
.item-menu-hide ul {
    margin-left: 50px !important;
}
.item-menu-hide ul li {
    margin-bottom: 15px !important;
}

.login-hide-item {
    margin-left: 40px;
}
@media screen and (max-width: 576px) {

    .image-title {
        width: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width: 768px) {
    #search-navbar {
        top: 5px !important;
        z-index: 100;
    }
    #input-search-navbar {
        top: 5px !important;
    }
    .right-content-footer {
        margin-left: 0 !important;
    }
    .category-movie, .notable, .right-content-main {
        width: 40% !important;
        margin-right: 5% !important;
    }
    .hide-mobile {
        display: none !important;
    }
    .btn-middle-header {
        width: 100% !important;
    }
    .btn-list-middle-header {
        display: flex;
        flex-direction: row !important;
        row-gap: 3;
    }
    .main-header {
        max-height: 150px !important;
        margin-bottom: 20px;
    }
    .top-header a{
        margin-right: 15px;
    }
    .logo {
        width:100% !important;
    }
    .bottom-header {
        margin-top: 0 !important;
        border-top: none;
        margin-bottom: 10px !important;

    }
    .bar-chat {
        display: block;
    }
    .middle-header {
        margin-bottom: 15px;
    }
}
